@model List<JSON_CRUD.Models.PersonModel>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>

@* ----------- View all ----------- *@
<h1>View All</h1>
@foreach (var item in Model)
{
    <p>
        ID: @item.Id<br />
        Name: @item.Name<br />
        Surname: @item.Surname<br />
        Age: @item.Age<br />
        Hungry: @item.Hungry<br />
    </p>
    <p>
        Shoes:<br />
        @foreach (var shoe in item.Shoes)
        {
            @shoe
            <br />
        }
    </p>
}

@* ----------- Select by ID ----------- *@
<h1>Select by ID</h1>
@{
    JSON_CRUD.Models.PersonModel personModel = new JSON_CRUD.Models.PersonModel();

    personModel = Model.FirstOrDefault(x => x.Id == 234);
    <p>
        ID: @personModel.Id<br />
        Name: @personModel.Name<br />
        Surname: @personModel.Surname<br />
        Age: @personModel.Age<br />
        Hungry: @personModel.Hungry<br />
    </p>
    <p>
        Shoes:<br />
        @foreach (var shoe in personModel.Shoes)
        {
            @shoe
            <br />
        }
    </p>
}

@* ----------- Add/Update new Person ----------- *@
<h1>Add or Update Person</h1>
@using (Html.BeginForm("Index", "Person", FormMethod.Post))
{
    JSON_CRUD.Models.PersonModel person = new JSON_CRUD.Models.PersonModel();
    <label asp-for="@person.Id">ID</label> <br />
    <input type="text" asp-for="@person.Id" name="Id" /> <br />
    <br />
    <label asp-for="@person.Name">Name</label> <br />
    <input type="text" asp-for="@person.Name" name="Name" /> <br />
    <br />
    <label asp-for="@person.Surname">Surname</label> <br />
    <input type="text" asp-for="@person.Surname" name="Surname" /> <br />
    <br />
    <label asp-for="@person.Age">Age</label> <br />
    <input type="text" asp-for="@person.Age" name="Age" /> <br />
    <br />
    <label asp-for="@person.Hungry">Hungry</label> <br />
    <input type="text" asp-for="@person.Hungry" name="Hungry" /> <br />
    <br />
    <label>Shoes</label><br />
    for (int i = 0; i < 3; i++)
    {
        <label asp-for="@person.Shoes[i]">Shoe @(i + 1)</label><br />
        <input type="text" asp-for="@person.Shoes[i]" name="Shoes[@i]" /><br />
    }
    <button type="submit">Add/Update</button>
}

@* ----------- Delete Person ----------- *@
<h1>Delete Person</h1>
@using (Html.BeginForm("Delete", "Person", FormMethod.Post))
{
    JSON_CRUD.Models.PersonModel person = new JSON_CRUD.Models.PersonModel();
    <label asp-for="@person.Id">ID</label> <br />
    <input type="text" asp-for="@person.Id" name="Id" /> <br />
    <button type="submit" name="submit">Delete</button>
}